@import "../css/addition/reset.css";
@import "./addition/mixin";
@import "./addition/vars";

@import "./components/header/header.scss";
@import "./components/main/main.scss";
@import "./components/carrousel/carrousel";
@import "./components/logistics/logistics";
@import "./components//develop/develop";

/* Fonts */
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/circular-std-medium-500.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

[class*="__container"] {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include inter;
  // font-family: "CircularStd", sans-serif;
}
