.develop {
  position: relative;
  margin-bottom: clamp(3.75rem, 1.197rem + 12.77vw, 11.25rem);
  &__blocks {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //150 = 80
    padding-right: 0;
    padding-left: clamp(1.875rem, -0.678rem + 12.77vw, 9.375rem);
    gap: clamp(2.5rem, 1.223rem + 6.38vw, 6.25rem);
    cursor: pointer;

    @media (max-width: 800px) {
      padding-left: 0;

      gap: 30px;
      border: none;
      box-shadow: none !important;
      border-color: none;
    }

    @media (max-width: 550px) {
      flex-direction: column-reverse;
    }
  }

  &__title {
    font-family: Circular Std, sans-serif;
    //72 = 35
    font-size: clamp(2.188rem, 1.4rem + 3.94vw, 4.5rem);
    font-weight: 900;
    // line-height: 91px;
    color: var(--blue-general);
    margin-bottom: clamp(0.938rem, 0.618rem + 1.6vw, 1.875rem);
  }

  &__descript {
    @include inter-descript;
    max-width: 510px;
    width: 100%;
    color: var(--gray);
    margin-bottom: 30px;
  }

  &__btn {
    position: relative;
    max-width: 215px;
    width: 100%;
    display: block;
    a {
      @include inter;
      position: relative;
      color: var(--black);
      font-size: clamp(0.813rem, 0.706rem + 0.53vw, 1.125rem);
      // font-size: 5px;
      font-weight: 600;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 3px;
        background-color: var(--blue);
      }
    }
  }

  &__right {
    max-width: 453px;
    width: 100%;
    position: relative;

    &::before {
      content: "";
      background-image: url("../img/decor-dots.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: -30px;
      left: -30px;
      width: clamp(3.75rem, 2.899rem + 4.26vw, 6.25rem);
      height: clamp(3.75rem, 2.899rem + 4.26vw, 6.25rem);
      z-index: -10;
      @media (max-width: 800px) {
        opacity: 0.5;
      }
    }

    &::after {
      content: "";
      background-image: url("../img/decor-green.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 15px;
      right: -30px;
      width: clamp(3.75rem, 2.899rem + 4.26vw, 6.25rem);
      height: clamp(3.75rem, 2.899rem + 4.26vw, 6.25rem);
      z-index: -10;
      @media (max-width: 800px) {
        opacity: 0.5;
      }
    }

    /* Додатковий елемент для третьої декорації */
    .decor-yellow {
      content: "";
      background-image: url("../img/decor-yellow.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: -40px;
      right: -3vw;
      // width: 100px;
      // height: 100px;
      z-index: -10;
      //150  = 80
      width: clamp(5rem, 3.511rem + 7.45vw, 9.375rem);
      height: clamp(5rem, 3.511rem + 7.45vw, 9.375rem);
      @media (max-width: 800px) {
        opacity: 0.5;
      }
    }

    img {
      border-radius: 10px;
      object-fit: cover;
      box-shadow: -20px 20px 60px 0px #79a4ff4d;
    }
  }
}

.build {
  &__blocks {
    display: flex;
    align-items: center;
    //150 = 80
    padding-right: 150px;
    gap: 100px;
    padding-left: 0px;
    padding-right: clamp(1.875rem, -0.678rem + 12.77vw, 9.375rem);
    gap: clamp(2.5rem, 1.223rem + 6.38vw, 6.25rem);
    @media (max-width: 800px) {
      padding-right: 0;
      gap: 30px;
      border: none;
      box-shadow: none !important;
      border-color: none;
    }

    @media (max-width: 550px) {
      flex-direction: column;
    }
  }
}
