.logistics {
  margin-top: clamp(3.125rem, 2.061rem + 5.32vw, 6.25rem);
  margin-bottom: 150px;
  &__title {
    font-family: "CircularStd", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(1.563rem, 1.201rem + 1.81vw, 2.625rem);
    font-weight: 700;
    line-height: clamp(2.5rem, 2.223rem + 1.38vw, 3.313rem);
    color: var(--blue-general);
    max-width: 895px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__descript {
    @include inter;
    // 20 = 15
    font-size: clamp(0.813rem, 0.664rem + 0.74vw, 1.25rem);
    line-height: clamp(1.563rem, 1.414rem + 0.74vw, 2rem);
    text-align: center;
    color: var(--gray);
    max-width: 778px;
    margin: 0 auto;
    // margin-bottom: 50px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    gap: 12px;
    background: #0555ff1a;
    max-width: clamp(12.5rem, 11.543rem + 4.79vw, 15.313rem);
    width: 100%;
    height: clamp(2.5rem, 2.287rem + 1.06vw, 3.125rem);
    border-radius: 30px;
    @include inter;
    font-size: clamp(0.75rem, 0.686rem + 0.32vw, 0.938rem);
    line-height: 32px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    &:hover {
      background-color: var(--blue);
      a {
        color: var(--white);
      }
    }

    span {
      max-width: 30px;
      height: 30px;
      width: 100%;
      background: white;
      font-weight: 600;
      border-radius: 30px;
    }

    a {
      color: var(--blue);
      text-decoration: none; // Якщо потрібно забрати підкреслення
    }
  }
}
